                            /*INDEX MOBILE*/

                          /*ESTRUCUTURA DEL MAIN INDEX MOBILE*/

    .grillaMain{        

        grid-template-columns: 90%;
        grid-template-rows: 500px 500px 500px 500px 500px;
        grid-template-areas: "a1"
                             "a2"
                             "a3"
                             "a4"
                             "a5";
        justify-content: center;
        align-items: center;


    }
        /*Contenedor de Promocion*/

    .cardPromocion{
        background-image:$colorContenedor;
        border-radius: 100px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
           
    }
        /*Contenedor de Populares,Novedades,Medio de Pago,Forma de Envio*/

    .contenedor{
        background-image: $colorContenedor2;
        border:solid black 2px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
           
    }

        /*Estilo de Imagen de Promocion, Populares, Novedades*/

    .estiloImg{
        width: 70%;
        height: 60%;
    }

        /*Estilo de Imagen de Forma de Pago*/

    .estiloImgPago{
        width: 80%;
        height: 40%;
    }

        /*Estilo de Imagen de Forma de Envio*/

    .estiloImgEnvio{
        width: 40%;
        height: 40%;
    
    }

        /*Estilo de los Parrafos del Main*/

    .estiloParrafo{
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-family: 'Fredoka One', cursive;
    
    }




                     /*INDEX DEL DESKTOP*/



                 /*ESTRCUTURA DEL MAIN INDEX DESKTOP*/

    .grillaMain{        

        grid-template-columns: 45% 45%;
        grid-template-rows: 650px 500px 500px;
        grid-template-areas: "a1 a1"
                             "a2 a3"
                             "a4 a5";
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

        /*Contenedor de Promocion*/

    .cardPromocion{
        
        background-image:$colorContenedor;
        border-radius: 100px;
        width: 75%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: a1;
        justify-content: center;
    }
    #carouselExampleIndicators{
        grid-area: a1;
        width: 60%;
    }

        /*Contenedor de Pupalares,Novedades,Forma de Pago, Forma de envio*/
    
    .contenedor{
    
        background-image: $colorContenedor2;
        border:solid black 2px;
        width: 90%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

        /*Estilo de Imagenes de los Contenedores*/

    .estiloImg{
        width: 55%;
        height: 65%;
    }

        /*Estilo de Imagenes de Pago*/

    .estiloImgPago{
        width: 70%;
        height: 40%;
        margin-top: 50px;
    }

        /*Estilo de Imagenes de Envio*/


    .estiloImgEnvio{
        width: 40%;
        height: 40%;
    
    }

        /*Estilo del Parrafo de los Contenedores*/

    .estiloParrafo{
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-family: 'Fredoka One', cursive;
    
    }
