    /*COLORES*/
$colorTitulo:  #ff6f00;
$colorContenedor: linear-gradient(to left, rgb(0, 0, 0),rgb(255, 132, 0),rgb(255, 132, 0), rgb(0, 0, 0));
$colorContenedor2: linear-gradient(to left, #dafcf0,rgb(255, 132, 0),rgb(255, 132, 0), #dafcf0);

